{% extends 'plantilla_base_flex.html' %}
{% load static %}
{% block content %} 

 <form method="POST" action="" name='f1'> 
{% csrf_token %}
<section class="administrador"> <!-- grid principal -->

	<div class = "administrador-titulo">
		<div>Opciones del administrador del sistema</div> 
	</div>

	<!-- obs: en la view es request.POST.get('laburohoy') -->
	<div class="contendor-inicial">
		<div class="radiotrabajo">
		{% if trabajo == 1 %}
			<div><input type="radio" name="laburohoy" value="1" checked>No Se trabaja hoy <br></div>
			<div> </div>
			<div><input type="radio" name="laburohoy" value="2"> Se trabaja hoy<br></div>
		{% endif %}

		{% if trabajo == 2 %}
			<div><input type="radio" name="laburohoy" value="1" >No se trabaja hoy<br></div>
			<div> </div>
			<div><input type="radio" name="laburohoy" value="2" checked> Se trabaja hoy<br></div>
		{% endif %}
		</div>
		
	    <div class="Inicializa-dia">
        	<!-- <u><a id= "inicializa" onclick="inicializa_dia('{{aCod}}','{{aCorr}}');">Inicializa dia</a></u> -->
        	<u><a id="inicializa" onclick="inicializa_dia({{aCod}},{{aCorr}})">Inicializa dia</a></u>
    	</div>

		<div class="revihora">
			<u><a id = "previsa_ped" onclick="#">Revisa pedidos</a></u>
		</div>
	</div> 


	<div class="grid-cabeceras"> <!-- subgrid -->
		<div class="col1">
		   <p>Código-id-corr</p>
		</div>
		
		<div class="col2">
		   <p>Decripción</p>
		</div>
		
		<div class="col3">
		   <p>Definidas para uso</p>
		</div>
	
		<div class="col4">
		   <p>Vigente hoy</p>
		</div>

	<!-- HORAS DISPONIBLES -->	
	</div>
 	{% for hrs in horas %}
 		<div class="celdas-sub-grid">
 			<div class="col-grid1">
	   			{{hrs.codigo}}-{{hrs.id}}-{{hrs.corr}}
	   	    </div>

			<div class="col-grid2">
				{{hrs.descrip}}
			</div>

			<!-- HORAS DEFINIDAS PARA USO -->
			<!-- los id son para el JS "inicializar dia", el NAME es llave para la VIEW, y VALUE es el valor que retorna -->
			<div class="col-grid3">
				{% if hrs.switch1 == 0 %}
					<input type="checkbox" id="{{hrs.codigo}}" name="{{hrs.descrip}}" onclick="selecciona_desmarca_defi('{{hrs.codigo}}','{{hrs.descrip}}');">
				{% else %}
					<input type="checkbox" id="{{hrs.codigo}}" name="{{hrs.descrip}}" checked onclick="selecciona_desmarca_defi('{{hrs.codigo}}','{{hrs.descrip}}');">	
				{% endif %}
			</div>

			<!-- HORAS VIGENTES HOY  -->
			<div class="col-grid4">
				{% if hrs.switch2 == 0 %}
					<input type="checkbox" id="{{hrs.corr}}" name="{{hrs.corr}}" onclick="selecciona_vigente('{{hrs.codigo}}','{{hrs.corr}}');">
				{% else %}
					<input type="checkbox" id="{{hrs.corr}}" name="{{hrs.corr}}" onclick="selecciona_vigente('{{hrs.codigo}}','{{hrs.corr}}');" checked>	
				{% endif %}
			</div>
		</div>	
	{% endfor %} 


	<!-- PROMOS: TITULO, CABECERAS Y GRID -->
	<br>
	<div class="administrador-titulo-opciones">
		Cambia valores de promociones:		
	</div>
	<div class="grid-cabe-admin-envolt"> 
		<div class="col1">
		   <p>Código-id</p>
		</div>
		<div class="col2">
		   <p>Promoción</p>
		</div>
		<div class="col3">
		   <p>Valor</p>
		</div>
	</div>	
 	{% for prom in promos %}
 		<div class="celdas-sub-grid-envolt">
 			<div class="col-grid1">
	   			{{prom.cod}} - {{prom.id}}
	   	    </div>
			<div class="col-grid2">
				{{prom.descrip}}
			</div>
			<div class="col-grid3">
				<input type="text" class="col-grid3-envolturas" id="{{prom.id}}" name="{{prom.id}}" value='{{ prom.valor }}'>
			</div>	
		</div>	
	{% endfor %} <!-- fin promociones -->


	<!-- ENVOLTURAS TITULO, CABECERAS Y GRID -->
	<br>
	<div class="administrador-titulo-opciones">
		Cambia valores de envolturas:		
	</div>
	<div class="grid-cabe-admin-envolt"> 
		<div class="col1">
		   <p>Código</p>
		</div>
		<div class="col2">
		   <p>Envoltura</p>
		</div>
		<div class="col3">
		   <p>Valor</p>
		</div>
	</div>	
 	{% for env in envolt %}
 		<div class="celdas-sub-grid-envolt">
 			<div class="col-grid1">
	   			{{env.cod}} 
	   	    </div>
			<div class="col-grid2">
				{{env.envolt}}
			</div>
			<div class="col-grid3">
				<input type="text" class="col-grid3-envolturas" name="{{env.id}}" value='{{ env.valor }}'>
			</div>	
		</div>	
	{% endfor %} <!-- fin envolturas -->


	<!-- RELLENOS TITULO, CABECERAS Y GRID -->
	<br>
	<div class="administrador-titulo-opciones">
		Cambia valores de rellenos:		
	</div>
	<div class="grid-cabe-admin-envolt"> 
		<div class="col1">
		   <p>Código</p>
		</div>
		<div class="col2">
		   <p>Relleno</p>
		</div>
		<div class="col3">
		   <p>Valor</p>
		</div>
	</div>	
 	{% for rell in relle %}
 		<div class="celdas-sub-grid-envolt">
 			<div class="col-grid1">
	   			{{rell.cod}} 
	   	    </div>
			<div class="col-grid2">
				{{rell.relle}}
			</div>
			<div class="col-grid3">
				<input type="text" class="col-grid3-envolturas" name="{{rell.id}}" value='{{ rell.valor }}'>
			</div>	
		</div>	
	{% endfor %} <!-- fin rellenos -->


	<!-- ADICIONALES TITULO, CABECERAS Y GRID -->
	<br>
	<div class="administrador-titulo-opciones">
		Cambia valores de adicionales:		
	</div>
	<div class="grid-cabe-admin-envolt"> 
		<div class="col1">
		   <p>ID</p>
		</div>
		<div class="col2">
		   <p>Adicional</p>
		</div>
		<div class="col3">
		   <p>Valor</p>
		</div>
	</div>	
 	{% for adic in adicionales %}
 		<div class="celdas-sub-grid-envolt">
 			<div class="col-grid1">
	   			{{adic.id}} 
	   	    </div>
			<div class="col-grid2">
				{{adic.descrip}}
			</div>
			<div class="col-grid3">
				<input type="text" class="col-grid3-envolturas" name="{{adic.id}}" value='{{ adic.valor }}'>
			</div>	
		</div>	
	{% endfor %} <!-- fin rellenos -->



	<!-- CAMBIOS MAXIMOS -->
	<br>
	<div class="administrador-titulo-opciones" id="tit-maximos-cambios">
		Máximos cambios permitidos en envolturas y rellenos por cada promo seleccionada:		
	</div>
	<div class="contendor-maximos-cambios">
		<div>
		   <p>Máximos cambios en envolturas:</p>
			<select name="cambio-max1" class="cambio-max1">
            {% for tip in aCambiosmax %}
                {% if tip == var_valor1 %}	
					<option value ="{{forloop.counter0}}" selected="selected">{{tip}}</option>
			    {% else %}
		           <option value ="{{forloop.counter0}}">{{tip}} </option>
			    {% endif %}	
			{% endfor %}
	    	</select>
		</div>
		
	    <div>
		   <p>Máximos cambios en rellenos:</p>
			<select name="cambio-max2" class="cambio-max2">
            {% for tip in aCambiosmax %}
                {% if tip == var_valor2 %}	
					<option value ="{{forloop.counter0}}" selected="selected">{{tip}}</option>
			    {% else %}
		           <option value ="{{forloop.counter0}}">{{tip}} </option>
			    {% endif %}	
			{% endfor %}
	    	</select>
    	</div>
	</div> <!-- FIN CAMBIOS MAXIMOS -->


	<!-- CUENTAS PARA DEPOSITO (CTAS) -->
	<br>
	<div class="administrador-titulo-opciones">
		Opciones de cuentas bancarias para depósito por ventas:		
	</div>

	<div class="grid-cabeceras"> <!-- subgrid -->
		<div class="col1">
		   <p>Código</p>
		</div>
		
		<div class="col2">
		   <p>Cuenta</p>
		</div>
		
		<div class="col3">
		   <p>Cuenta definida</p>
		</div>
	
		<div class="col4">
		   <p>Vigente hoy</p>
		</div>
	</div>	
 	{% for ct in cta %}
 		<div class="celdas-sub-grid-cuentas">
 			<div class="col-grid1-cuentas">
	   			{{ct.codigo}} 
	   	    </div>

			<div class="col-grid2-cuentas">
				{{ct.descrip}}
			</div>

			<div class="col-grid3-cuentas">
				<!-- definidos check1 -->
				{% if ct.switch1 == 0 %}
					<input type="checkbox"  name="{{ct.codigo}}"  value='{{ 0 }}'>
				{% else %}
					<input type="checkbox"  name="{{ct.codigo}}"  value='{{ 1 }}' checked>	
				{% endif %}
			</div>

			<div class="col-grid4-cuentas">
				<!-- los que verá el usuario check2 -->
				{% if ct.switch2 == 0 %}
					<input type="checkbox" id="ct.corr" name="{{ct.corr}}"  value="{{ 0 }}">
				{% else %}
					<input type="checkbox" id="ct.corr" name="{{ct.corr}}"  value="{{ 1 }}" checked>	
				{% endif %}
			</div>
		</div>	
	{% endfor %} <!-- fin cuentas bancarias -->


	<!-- RECUADROS PIE DE PAGINA (FOOTER) -->
	{% for ob in obs %} 
		<textarea class="form-control" name="{{ob.corr}}" id="textArea1" rows="4">{{ob.observacion1}}</textarea>
	{% endfor%} 


	<div class="boton-graba">
  		<input type="submit" id="btn-block" value="Graba todos los cambios de esta página" class="btn btn-primary login-btn btn-block"></input>  
	</div>

</section> 
</form>
{% endblock %}  