{% extends 'plantilla_base_flex.html' %}
{% load static %}
{% block content %}

<form method = "POST" action="" onsubmit="return val_eligio()"> 
  {% csrf_token %}

  <!-- IMAGENES DE TODAS LAS PROMOS -->
  <div  class = "personas"> 
      <div class = "capa-titulo">    
          <div id="fantasma"></div> 
          <div id="disponibilidad">
            <spam>Disponibilidad</spam>
          </div>
          <div id="cerrar">
            <u align="right"><a href="{% url 'log_out' %}">Cerrar sesion</a></u>
          </div>
          <div id="horas">
             <p>{{string_horas}}</p>
          </div>
      </div>
  
      <div class="contenedor">  
          <article class="persona__columna">
              <a title="promo de 20" href="#">
                <img src="/static/img/prom20.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 30" href="#">
                <img src="/static/img/prom30.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 30" href="#">
                <img src="/static/img/prom40.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 40" href="{% url 'pedidos_sc' 50 %}">
                <img src="/static/img/prom50.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 60" href="{% url 'pedidos_sc' 60 %}">
                <img src="/static/img/prom60.jpg" />
              </a>
          </article>
          
          <article class="persona__columna">
              <a title="promo de 70" href="{% url 'pedidos_sc' 70 %}">
                <img src="/static/img/prom70.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 99" href="{% url 'pedidos_sc' 99 %}">
                <img src="/static/img/gold.jpg" />
              </a>
          </article>
      </div> <!-- contendor de fotos -->


      <div class="contenedor-seleccion">
          <div class ="contenedor-subgrid">
            <div class="combo-promos">
                <p>Seleccione promos (dos máximo)</p>
                <select name="promos" class="items-combo-promos" id="id_promo">
                  {% for c in prs %}
                    <option value ="{{c.descrip}}">{{c.descrip}}</option>
                  {% endfor %}      
                </select>
            </div>

            <div class="primera-celda">
              <img id="carrito-icon-menu" src="/static/img/icon-carrito.png"  width="28">         
              <span id="cantidad">Seleccionadas:</span> 
            </div>
          
            <div class="div-caja1-seleccionada">
              <input type="text" name="caja1-seleccionada" id="caja1-seleccionada" readonly> 
            </div>   
            
            <div class="boton-elimina1"> <!--btn-xs: Define un tamaño extra pequeño. -->
              <button title="Elimina selección" type="submit" id="elimina1" onclick="return elimina(this.id);" name ="submit" class="btn btn-danger btn-xs">X</button> 
                <!-- <input type="text" name="fname" id="codigo1" class="codigo1" readonly> -->
            </div>


            <div class = "div-caja2-seleccionada">
              <input type="text" name="caja2-seleccionada" size="25" id="caja2-seleccionada" readonly> 
            </div>
            <div class="boton-elimina2">
              <button title="Elimina selección" type="submit" id="elimina2" onclick="return elimina(this.id);" name="submit" class="btn btn-danger btn-xs">X</button> 
            </div>
            <!-- Las cajas de la 3 y 4 han sido momentaneamente ocultadas (type="hidden")-->
            <!-- Para revertir esto, en la caja se cambia el type="hidden" por el type="text", -->
            <!-- y en el button se descomentan 
            <div class = "alto-combo">
              <input type="hidden" name="caja3" size="15" id="caja3" readonly> 
            </div>
            
            <div class="provisorio" type="hidden">
              <button title="Elimina selección" id="elimina3" onclick="return elimina(this.id);" name = "submit" s="btn       n-danger btn-xs">X</button> 
            </div>
            
            <div class = "alto-combo">
                <input type="hidden" name="caja4" size="15" id="caja4" readonly> 
            </div>
            
            <div class="provisorio" type="hidden">
              <button type="hidden" title="Elimina selección" id="elimina4" onclick="return elimina(this.id);" name     "submit" ass="btn btn-danger btn-xs">X</button> 
            </div>
            -->
            <div class="cont-boton-seguir"> 
              <button  class="btn btn-success" type="submit" id="btn-seguir">
                     Cambios adicionales y val
              </button>
            </div>
          </div> <!--contenedor-subgrid -->
      </div>  <!-- contenedor-seleccion -->
  </div>  <!-- personas -->

</form> 
{% endblock %}          
